@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@600&display=swap");

:root {
  --color-background: #fbfdfc;
  --color-surface: #f8faf9;
  --color-surface-hover: #f1f4f3;
  --color-suface-active: #d7dcda;
  --color-border: #c2c9c6;
  --color-text-lc: #6a716e;
  --color-text-hc: #111c18;
  --secondary-color-surface: #d2f7ed;
  --secondary-color-surface-hover: #c0efe3;
  --secondary-color-surface-active: #7dd4c0;
  --secondary-color-border: #40c4aa;
  --secondary-color-text-lc: #147d6f;
  --secondary-color-text-hc: #09342e;
  --accent-color-surface: #ffe8d7;
  --accent-color-surface-hover: #ffdcc3;
  --accent-color-surface-active: #ffb381;
  --accent-color-border: #fa934e;
  --accent-color-text-lc: #bd4b00;
  --accent-color-text-hc: #451e11;
  --shadow-calc: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.toggle-theme {
  --color-background: #2a2f2c;
  --color-surface: #141716;
  --color-surface-hover: #393f3c;
  --color-suface-active: #66736d;
  --color-border: #4a524e;
  --color-text-lc: #eceeed;
  --color-text-hc: #eef1fd;
  --secondary-color-surface: #033a34;
  --secondary-color-surface-hover: #01453d;
  --secondary-color-surface-active: #70e1c8;
  --secondary-color-border: #006d5b;
  --secondary-color-text-lc: #e7fcf7;
  --secondary-color-text-hc: #e7fcf7;
  --accent-color-surface: #4f2305;
  --accent-color-surface-hover: #763205;
  --accent-color-surface-active: #f76808;
  --accent-color-border: #943e00;
  --accent-color-text-lc: #feeadd;
  --accent-color-text-hc: #feeadd;
  --shadow-calc: 0px 0px 8px rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2a2f2c;
    --color-surface: #141716;
    --color-surface-hover: #393f3c;
    --color-suface-active: #66736d;
    --color-border: #4a524e;
    --color-text-lc: #eceeed;
    --color-text-hc: #eef1fd;
    --secondary-color-surface: #033a34;
    --secondary-color-surface-hover: #01453d;
    --secondary-color-surface-active: #70e1c8;
    --secondary-color-border: #006d5b;
    --secondary-color-text-lc: #e7fcf7;
    --secondary-color-text-hc: #e7fcf7;
    --accent-color-surface: #4f2305;
    --accent-color-surface-hover: #763205;
    --accent-color-surface-active: #f76808;
    --accent-color-border: #943e00;
    --accent-color-text-lc: #feeadd;
    --accent-color-text-hc: #feeadd;
    --shadow-calc: 0px 0px 8px rgba(255, 255, 255, 0.25);
  }

  .toggle-theme {
    --color-background: #fbfdfc;
    --color-surface: #f8faf9;
    --color-surface-hover: #f1f4f3;
    --color-suface-active: #d7dcda;
    --color-border: #c2c9c6;
    --color-text-lc: #6a716e;
    --color-text-hc: #111c18;
    --secondary-color-surface: #d2f7ed;
    --secondary-color-surface-hover: #c0efe3;
    --secondary-color-surface-active: #7dd4c0;
    --secondary-color-border: #40c4aa;
    --secondary-color-text-lc: #147d6f;
    --secondary-color-text-hc: #09342e;
    --accent-color-surface: #ffe8d7;
    --accent-color-surface-hover: #ffdcc3;
    --accent-color-surface-active: #ffb381;
    --accent-color-border: #fa934e;
    --accent-color-text-lc: #bd4b00;
    --accent-color-text-hc: #451e11;
    --shadow-calc: 2px 2px 4px rgba(0, 0, 0, 0.05);
  }
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 40ch;
  height: 100vh;
  color: var(--color-text-lc);
  background-color: var(--color-surface);
  padding-bottom: 2rem;
}

header {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  font-size: 1.25rem;
}

.toggle-theme-btn {
  border: solid 1px;
  border-color: var(--color-border);
  border-radius: 0.25rem;
  background-color: transparent;
  padding: 0.25rem;
}

.toggle-theme-btn span {
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.display {
  display: flex;
  justify-content: end;
  font-size: 3rem;
  color: var(--color-text-lc);
  padding-block: 0.5rem;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.calc-btn {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  aspect-ratio: 5 / 4;
  border: solid 1px;
  border-radius: 4px;
  transition: all 0.3s;
  box-shadow: var(--shadow-calc);
}

.calc-btn:active {
  transform: scale(0.98);
}

.num-btn {
  color: var(--color-text-lc);
  border-color: var(--color-border);
  background-color: var(--color-background);
}

.num-btn:hover {
  background-color: var(--color-surface-hover);
}

.num-btn:active {
  color: var(--accent-color-text-hc);
  background-color: var(--color-suface-active);
}

.equate-btn,
.operator-btn {
  color: var(--secondary-color-text-lc);
  background-color: var(--secondary-color-surface);
  border-color: var(--secondary-color-border);
}

.equate-btn:hover,
.operator-btn:hover {
  background-color: var(--secondary-color-surface-hover);
}

.equate-btn:active,
.active-operator {
  color: var(--secondary-color-text-hc);
  background-color: var(--secondary-color-surface-active);
}

.active-operator:hover {
  background-color: var(--secondary-color-surface-active);
}

.func-btn {
  color: var(--accent-color-text-lc);
  border-color: var(--accent-color-border);
  background-color: var(--accent-color-surface);
}

.func-btn:hover {
  background-color: var(--accent-color-surface-hover);
}

.func-btn:active {
  color: var(--accent-color-text-hc);
  background-color: var(--accent-color-surface-active);
}

.dbl-wide {
  grid-column: span 2;
  aspect-ratio: initial;
}
