:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 55ch;
  height: 100vh;
  color: rgb(142, 116, 184);
  padding-bottom: 2rem;
}

@media screen and (min-width: 55ch) {
  body {
    justify-content: center;
    max-width: 40ch;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  color: rgb(98, 18, 228);
  font-weight: 400;
}
main {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.display {
  display: flex;
  justify-content: end;
  font-family: monospace;
  font-size: 4rem;
  color: rgb(49, 11, 109);
  padding-block: 0.5rem;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.calc-btn {
  aspect-ratio: 1;
  border-radius: 1rem;
  transition: all 0.3s;
}

.calc-btn:hover {
  transform: scale(1.02);
}

.calc-btn:active {
  transform: scale(0.98);
}

.num-btn {
  font-size: 2rem;
  color: rgb(192, 93, 58);
  border: solid 2px orangered;
  background-color: rgba(255, 68, 0, 0.06);
}

.num-btn:hover {
  color: rgb(184, 54, 7);
  background-color: rgba(255, 68, 0, 0.2);
}

.num-btn:active {
  background-color: rgb(250, 177, 151);
}

.operator-btn {
  font-size: 2rem;
  color: rgb(175, 41, 103);
  border: solid 2px rgb(255, 0, 120);
  background-color: rgba(255, 0, 120, 0.06);
}

.operator-btn:hover {
  color: rgb(121, 22, 68);
  background-color: rgba(255, 0, 120, 0.2);
}

.operator-btn:active {
  background-color: rgba(255, 0, 120, 0.3);
}

.func-btn {
  font-size: 2rem;
  color: rgb(105, 78, 150);
  border: solid 2px rgb(84, 0, 219);
  background-color: rgba(84, 0, 219, 0.06);
}

.func-btn:hover {
  color: rgb(74, 35, 138);
  background-color: rgba(84, 0, 219, 0.175);
}

.func-btn:active {
  background-color: rgba(84, 0, 219, 0.3);
}

.dbl-wide {
  grid-column: span 2;
  aspect-ratio: initial;
}
